* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.4;
}

.container {
    width: 80%;
    max-width: 700px;

    margin: 0 auto;
}

.intro {
    background: #23424a;
    color: white;
    padding: 50px 0;
}

.intro-content {
    width: 60%;
}
