:root {
    --dark: #222831;
    --light: #393e46;
    --accent: #ffd523;
    --white: #eeeeee;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.col {
    width: 100%;
    text-align: center;
}

.push-right {
    margin-left: auto;
}

.navbar {
    background-color: var(--dark);
    padding: 1em 0;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 1.5em;
    margin: 0;
    padding: 0;
}

.nav__item a {
    color: var(--white);
    transition: all 0.3s ease;
}

.nav__btn a {
    background-color: var(--accent);
    color: var(--dark);
    padding: 0.35em 0.75em;
    border-radius: 100px;
    transition: all 0.3s ease;
}

.nav__btn a:hover,
.nav__item a:hover {
    opacity: 0.6;
}

.hero {
    padding: 100px 0;
    background-color: var(--dark);
    color: var(--white);
}

.hero__text {
    width: 60%;
}

.hero p {
    margin-bottom: 3em;
    opacity: 0.8;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    color: var(--dark);
    font-weight: 900;
    background-color: var(--accent);
    padding: 0.75em 2em;
    border-radius: 100px;
    transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
    opacity: 0.75;
}

.hero__img {
    width: 30%;
    align-self: flex-start;
}

.section__two {
    padding: 3em 0;
}

.section__two h2 {
    color: var(--dark);
}

.section__three {
    background-color: var(--light);
    color: var(--white);
    padding: 3em 0;
}

.main {
    padding: 2em 0;
}

.main__text {
    width: 60%;
    color: var(--light);
}

aside {
    background-color: var(--light);
    color: var(--white);
    width: 30%;
    padding: 1em 1.5em;
}

aside .row {
    flex-direction: column;
}
